body { 
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#content {
	height: 300px;
	overflow: auto;
}

.ui.avatar.image { background-image: url('../img/face_avatars.min.png'); background-position: 94px -112.89px; }