body { 
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#content {
	height: 300px;
	overflow: auto;
}

#outer-content {
	margin: 1em 0.3em;
}

@media (max-width: 768px) {
	.tk-gallery.cyclic .items
	{
		width: 10000%;
		height: auto !important;
	}
}
@media (max-width: 360px) {
	#content {
		height: 230px;
	}
	#outer-content {
		margin: 1em 0px;
	}
	#file-reader-ondrop {
		display: none;
	}
	p {
		margin: 0px 0px 0.5em;
	}
}
@media (max-width: 320px) {
	#content {
		height: 140px;
	}
	#footer-mobile {
		display: none;
	}
}

.ui.avatar.image { background-image: url('../img/face_avatars.min.png'); background-position: 94px -112.89px; }

.tk-gallery 
{
	position: relative;
}

.tk-gallery .item
{ 
	height: 74px; width: 77.5px; 
	border: solid 1px rgb(230,230,230); border-radius: 5px; box-shadow: 0 0 2px rgb(230,230,230); 
	background-image: url('../img/face_avatars.png'); background-position: 0px -0px; cursor: pointer;
	display: inline-block;
}

.tk-gallery .item:hover
{
	border: solid 1px rgb(200,200,200); border-radius: 5px; box-shadow: 0 0 2px rgb(200,200,200);
}

.tk-gallery .item.selected
{
	border: solid 1px silver; border-radius: 5px; box-shadow: 0 0 8px silver;
}

.tk-gallery .item.unselected
{
	opacity: 0.4;
}

.tk-gallery.cyclic 
{
	overflow: hidden;
}

.tk-gallery.cyclic .items
{
	height: 198px;
}

.tk-gallery.cyclic .controls
{
	overflow: hidden
}

.tk-gallery.cyclic .control-left
{
	float: left;
}

.tk-gallery.cyclic .control-right 
{
	float: right;
}


.tk-gallery.cyclic .controls.mobile {
	display: none;
}

@media (max-width: 360px) {
	.tk-gallery.cyclic .controls {
		display: none;
	}
	
	.tk-gallery.cyclic .controls.mobile {
		display: block;
	}

}

.semantic.ui.modal {
	overflow-x: initial; 
	overflow-y: initial;
	bottom: initial;
}

.purple-background 
{
	position: relative;
	background: #834790; /* Old browsers */
	background: -moz-linear-gradient(top,  #834790 2%, #c86caf 48%, #a56caf 100%, #2989d8 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#834790), color-stop(48%,#c86caf), color-stop(100%,#a56caf), color-stop(100%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #834790 2%,#c86caf 48%,#a56caf 100%,#2989d8 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #834790 2%,#c86caf 48%,#a56caf 100%,#2989d8 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #834790 2%,#c86caf 48%,#a56caf 100%,#2989d8 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #834790 2%,#c86caf 48%,#a56caf 100%,#2989d8 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#834790', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	height: 100%;
}

.purple-background-image 
{
	background: url("../img/purple-wallpaper.jpg") repeat scroll 0% 0% transparent;
	height: 100%;
}

.purple-background .purple-contrast {
	color: white;
}

/* Semantic UI modification */
.pushable > .pusher {
	height: 100%;
}